---

---

<section class="core-lib" data-size="wide">Core lib</section>

<style>
  .core-lib {
    padding-block: var(--spacing-64);
    background-color: var(--color-neutral-950);
    color: var(--color-neutral-50);
  }
</style>
