---
import SectionHeading from '@/components/SectionHeading.astro'
---

<section class="core-lib" data-size="wide">
  <SectionHeading color="var(--color-neutral-50)">
    <Fragment slot="title">Not Just UI</Fragment>
    <Fragment slot="description">Huey also offers a <u>framework-agnostic utility library</u> for color manipulation</Fragment>
  </SectionHeading>
</section>

<style>
  .core-lib {
    padding-block: var(--spacing-64);
    background-color: var(--color-neutral-950);
    color: var(--color-neutral-50);
  }
</style>
