---
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro'
import Search from '@astrojs/starlight/components/Search.astro'
import Wordmark from './Wordmark.astro'

import pkg from '../../package.json'
import Logomark from '@/components/Logomark.astro'
const repoUrl = pkg.repository.url

const isHomepage = Astro.url.pathname === '/'
---

<div landing-header={isHomepage ?? undefined} class="header-content">
  <Logomark />
  <div class="actions">
    {!isHomepage && <Search />}
    {
      isHomepage ? (
        <Fragment>
          <a external-link hc-button data-variant="tertiary" href={repoUrl}>
            Github
          </a>
          <a hc-button data-variant="secondary" href="/overview/installation">
            Documentation
          </a>
        </Fragment>
      ) : (
        <SocialIcons />
      )
    }
  </div>
</div>

<style is:global>
  @layer starlight.core {
    header.header {
      background: unset;
      background-color: var(--sl-color-bg);
    }

    header.header {
      background: unset;
      background-color: var(--sl-color-bg);

      dialog {
        background-color: var(--color-beige-50);
        border: 1px solid var(--color-linen-200);
        color: var(--color-stone-950);

        button[data-close-modal] {
          color: var(--color-stone-950);
        }
      }

      &:has([landing-header='true']) {
        --sl-nav-height: fit-content;
        --sl-nav-pad-y: var(--spacing-16);
        --sl-color-hairline-shade: transparent;
        --sl-color-bg-nav: transparent;

        position: static !important;
        display: block !important;

        .header-content {
          max-width: var(--hc-content-width);
          margin: 0 auto;
        }
      }

      @media (width >= 50rem) {
        display: none;

        site-search {
          button[data-open-modal] {
            --hc-search-width: 240px;

            background-color: var(--color-linen-100);
            border-color: var(--color-linen-200);
            width: var(--hc-search-width);

            & > kbd {
              background-color: var(--color-beige-100);
              border: 1px solid var(--color-linen-200);
              margin-inline-start: auto;
            }
          }
        }
      }
    }
  }
</style>

<style>
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .actions {
      display: flex;
      align-items: center;
      gap: var(--spacing-16);

      [external-link] {
        display: none;
      }
    }
  }

  @media (width >= 50rem) {
    .header-content {
      .actions {
        [external-link] {
          display: flex;
        }
      }
    }
  }
</style>
