---
import Wordmark from '@/components/Wordmark.astro'
import Huey from '@/components/Huey.astro'
---

<a href="/" class="logomark">
  <Huey />
  <Wordmark />
</a>

<style is:global>
  .logomark {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
    padding-inline: var(--spacing-4);
  }

  .huey-icon {
    display: none;
  }

  body:has(nav.sidebar + .main-frame) .huey-icon {
    display: inline-flex;
  }
</style>
