---
import SectionHeading from '@/components/SectionHeading.astro'
import PickersPlayground from '@/components/Playground.vue'
---

<section class="playground" data-size="boxed">
  <SectionHeading alignment="center">
    <Fragment slot="title">Your layout, Your styles</Fragment>
    <Fragment slot="description">Huey gives you the freedom to compose your own color picker</Fragment>
  </SectionHeading>
  <PickersPlayground client:only="vue" />
</section>

<style>
  .playground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-40);
    padding-block: var(--spacing-64);
  }
</style>
