---
const { color } = Astro.props
---

<div class="section-heading" style={color ? `--text-color: ${color}` : undefined}>
  <h2 class="section-title"><slot name="title" /></h2>
  <p class="section-description"><slot name="description" /></p>
</div>

<style>
  .section-heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    text-align: center;

    .section-title {
      text-wrap: pretty;
      color: var(--text-color, var(--section-heading-title-color, var(--color-stone-950)));
    }

    .section-description {
      color: var(--text-color, var(--section-heading-description-color, var(--color-stone-950)));
      font: var(--paragraph-md);
    }
  }

  @media (width >= 50rem) {
    .section-heading {
      .section-description,
      .section-title {
        text-align: start;
      }
    }
  }
</style>
