---
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro'
import Default from '@astrojs/starlight/components/Sidebar.astro'
import Search from '@astrojs/starlight/components/Search.astro'
import Logomark from '@/components/Logomark.astro'
---

<div class="aj-sidebar aj-custom">
  <div class="top">
    <div class="sidebar-header">
      <Logomark />
      <SocialIcons />
    </div>
    <Search />
  </div>
  <div class="center">
    <Default>
      <slot />
    </Default>
  </div>
</div>

<style is:global>
  /* stylelint-disable-next-line selector-id-pattern -- Starlight uses this ID pattern */
  #starlight__sidebar.sidebar-pane {
    background-color: var(--color-beige-100);
    border-color: color-mix(in srgb, var(--color-linen-950) 10%, transparent 100%);

    .aj-sidebar {
      .top {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-12);
        padding-block-start: calc(var(--sl-nav-height) + var(--spacing-16));
        padding-block-end: var(--spacing-8);
        padding-inline: var(--spacing-16);

        .sidebar-header {
          display: none;
          align-items: center;
          justify-content: space-between;
          padding-inline-end: var(--spacing-4);
        }

        button[data-open-modal] {
          --search-border-color: color-mix(in srgb, var(--color-linen-950) 10%, transparent 100%);

          display: none;
          background-color: var(--color-linen-100);
          border-color: var(--search-border-color);
          color: var(--color-stone-950);
          transition: all 150ms ease-out;

          & > kbd {
            background-color: var(--color-beige-50);
            border: 1px solid var(--search-border-color);
          }

          &:hover {
            background-color: var(--color-linen-200);
          }
        }

        dialog {
          background-color: var(--color-beige-50);
          border: 1px solid var(--color-linen-200);
          color: var(--color-stone-950);
        }
      }

      .center {
        overflow-y: auto;
        padding: var(--spacing-16);
        padding-block-end: var(--spacing-40);
        overflow-x: hidden;
        min-height: 0;
        flex: 1;
        mask-image: linear-gradient(transparent, var(--sl-color-bg-sidebar) 32px, var(--sl-color-bg-sidebar) calc(100% - 32px), transparent);

        /* Custom scrollbar styling */
        scrollbar-width: 2px; /* Firefox */
        scrollbar-color: transparent; /* Firefox */

        /* Webkit browsers (Chrome, Safari, Edge) */
        &::-webkit-scrollbar {
          width: 2px;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--color-linen-200);
          border-radius: 3px;
        }

        .top-level {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-12);

          a[aria-current='page'] {
            background-color: var(--color-linen-200);
          }

          details {
            summary {
              pointer-events: none;
              outline: none;
              padding-block-end: var(--spacing-6);

              .group-label span {
                font: var(--label-xs);
                color: var(--color-stone-950);
                text-transform: uppercase;
              }

              svg {
                display: none;
              }
            }

            ul {
              li {
                margin: 0;
                padding: 0;
                border-inline-start: 0;
                height: 32px;

                a {
                  height: 100%;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .sidebar-pane {
    visibility: unset;
    transform: translateY(var(--sl-sidebar-visibility, -100%));
    transition: all 200ms cubic-bezier(0.66, 0, 0.34, 1);
  }

  [aria-expanded='true'] ~ .sidebar-pane {
    --sl-sidebar-visibility: 0;
  }

  .mobile-preferences {
    display: none;
  }

  @media (width >= 50rem) {
    /* stylelint-disable-next-line selector-id-pattern -- Starlight uses this ID pattern */
    #starlight__sidebar.sidebar-pane {
      overflow: hidden !important;
      height: 100vh;
      .aj-sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;

        & > * {
          width: var(--sl-toc-width);
        }

        .top {
          padding-block-start: var(--spacing-16);

          .sidebar-header {
            display: flex;
          }

          button[data-open-modal] {
            display: flex;
          }
        }

        button[data-open-modal] {
          display: block;
        }
      }
    }
  }
</style>
