@import url('./tokens.css');

@font-face {
  font-display: block;
  font-family: Cubano;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Cubano.woff2') format('woff2');
}

:root {
  --sl-content-width: 50rem;
  --sl-text-5xl: 3.5rem;
}
