@import './tokens.css';

@font-face {
  font-family: 'Cubano';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/Cubano.woff2') format('woff2');
}

@theme static {
  --font-sans: 'Cubano', sans-serif;

  --breakpoint-3xl: 1920px;
}



:root {
  --ui-header-height: 80px;

  --ui-bg: var(--color-beige-100);
  --ui-border: var(--color-beige-200);
  --ui-bg-elevated: color-mix(in srgb, var(--color-beige-900) 50%, transparent);
  --ui-border-accented: var(--color-beige-300);
  /* --ui-bg-accented: var(--color-beige-200); */
  --ui-text: var(--color-beige-950);

  --search-box-placeholder-color: color-mix(in srgb, var(--color-beige-900) 50%, transparent);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cubano'
}

header {
  position: static
}


/* Search box */
[data-dismissable-layer] {

  a[data-highlighted] {
    background-color: var(--color-beige-200);
  }
  
  a[data-highlighted] span[data-slot="itemLeadingIcon"] {
    color: var(--color-beige-950);
  }
  
  span[data-slot="itemLeadingIcon"] {
    color: color-mix(in srgb, var(--color-beige-900) 32%, transparent);
  }
  
  span[data-slot="itemLabelSuffix"] {
    color: var(--search-box-placeholder-color);
  }
  
  input[data-slot="input"]::placeholder {
    color: var(--search-box-placeholder-color);
  }
}

button:hover,
button:focus-visible {
  background-color: var(--color-beige-200);
}

button:focus-visible {
  outline: 2px solid var(--color-beige-950);
  outline-offset: var(--spacing-2);
}